/authN-authZ/node_modules
/Blog-App-class4/node_modules
/Blog-Practice/node_modules
/class1/node_modules
/Dummy-MERN/backend/node_modules
/Dummy-MERN/frontend/node_modules
/file-upload/node_modules
/TodoApp/node_modules